In [5]:
import pandas as pd

In [6]:
#read csvs
movies_df = pd.read_csv('Resources/movies.csv')
ratings_df = pd.read_csv('Resources/ratings.csv')
links_df = pd.read_csv('Resources/links.csv')
tags_df = pd.read_csv('Resources/tags.csv')
gScores_df = pd.read_csv('Resources/genome-scores.csv')
gTags_df = pd.read_csv('Resources/genome-tags.csv')

In [7]:
movies_df.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [24]:
movies_df.value_counts()

movieId  title                                                           genres
1        Toy Story (1995)                                                Adventure|Animation|Children|Comedy|Fantasy    1
162130   The Perfect Crime (1978)                                        Crime                                          1
162070   3 Days of Normal (2012)                                         Children|Comedy|Romance                        1
162072   Bubblegum and Broken Fingers (2011)                             Crime|Drama|Western                            1
162074   The Yin and the Yang of Mr. Go (1970)                           Mystery|Thriller                               1
                                                                                                                       ..
107614   White Reindeer (2013)                                           Comedy|Drama                                   1
107623   2013 Rock and Roll Hall of Fame Induction Ceremony, The (2013)  Documentary|Musical                            1
107625   Gorko! (2013)                                                   Comedy                                         1
107630   High School (2010)                                              Comedy                                         1
209171   Women of Devil's Island (1962)                                  Action|Adventure|Drama                         1
Length: 62423, dtype: int64

In [9]:
tags_df.dtypes

userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

In [26]:
tags_df['tag'].value_counts()

sci-fi              8330
atmospheric         6516
action              5907
comedy              5702
surreal             5326
                    ...
teen sleuth            1
evil twins             1
paternity test         1
QVC                    1
cornetto triolgy       1
Name: tag, Length: 73050, dtype: int64

In [33]:
ratings_df = ratings_df.drop('userId', axis=1)

In [34]:
ratings_df = ratings_df.drop('timestamp', axis=1)

In [14]:
gScores_df.dtypes

movieId        int64
tagId          int64
relevance    float64
dtype: object

In [15]:
gScores_df.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [16]:
gTags_df.dtypes

tagId     int64
tag      object
dtype: object

In [17]:
gTags_df.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [22]:
gTags_df.value_counts()

tagId  tag
1      007                                    1
750    oscar (best directing)                 1
756    oscar (best picture)                   1
755    oscar (best music - original song)     1
754    oscar (best music - original score)    1
                                             ..
383    father daughter relationship           1
384    father son relationship                1
385    father-son relationship                1
386    fbi                                    1
1128   zombies                                1
Length: 1128, dtype: int64

In [18]:
gInfo_df = gTags_df.merge(gScores_df, how='inner', on='tagId')

In [19]:
gInfo_df.head()

   tagId  tag  movieId  relevance
0      1  007        1    0.02875
1      1  007        2    0.04125
2      1  007        3    0.04675
3      1  007        4    0.03425
4      1  007        5    0.04300