In [1]:
import pandas as pd

In [11]:
#read csvs
movies_df = pd.read_csv('Resources/movies.csv')
ratings_df = pd.read_csv('Resources/ratings.csv')
links_df = pd.read_csv('Resources/links.csv')
tags_df = pd.read_csv('Resources/tags.csv')
gScores_df = pd.read_csv('Resources/genome-scores.csv')
gTags_df = pd.read_csv('Resources/genome-tags.csv')

In [25]:
movies_df.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [31]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [27]:
tags_df.dtypes

userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

In [32]:
tags_df.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [28]:
ratings_df.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [33]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [42]:
movies_dance_df = movies_df.merge(ratings_df, how='inner', on='movieId')

In [47]:
movies_ratings_df = movies_dance_df.drop(['timestamp'], axis=1)

In [29]:
gScores_df.dtypes

movieId        int64
tagId          int64
relevance    float64
dtype: object

In [34]:
gScores_df.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [30]:
gTags_df.dtypes

tagId     int64
tag      object
dtype: object

In [35]:
gTags_df.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [37]:
gInfo_df = gTags_df.merge(gScores_df, how='inner', on='tagId')

In [38]:
gInfo_df.head()

   tagId  tag  movieId  relevance
0      1  007        1    0.02875
1      1  007        2    0.04125
2      1  007        3    0.04675
3      1  007        4    0.03425
4      1  007        5    0.04300